# Place your VPN credentials here. This file is mounted as a Docker secret.
# Place this file in a folder called secrets
# Format (example):
# OPENVPN_USER=your-username
# OPENVPN_PASSWORD=your-password

OPENVPN_USER=
OPENVPN_PASSWORD=
